WebContent/WEB-INF/wsdl/JavaWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://helloService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://helloService" xmlns:intf="http://helloService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://helloService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="say">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayResponse">
    <complexType>
     <sequence>
      <element name="sayReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayResponse">

      <wsdl:part element="impl:sayResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayRequest">

      <wsdl:part element="impl:say" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloService">

      <wsdl:operation name="say">

         <wsdl:input message="impl:sayRequest" name="sayRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayResponse" name="sayResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloServiceSoapBinding" type="impl:HelloService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="say">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloServiceService">

      <wsdl:port binding="impl:HelloServiceSoapBinding" name="HelloService">

         <wsdlsoap:address location="http://localhost:8888/helloService/services/HelloService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
